---
const platform = "github";
const username = "withastro";
import Social from "./Social.astro";
---

<style>
    footer {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        gap: 1rem;
        margin-top: 2rem;
    }
</style>

<footer>
    <Social platform="twitter" username="astrodotbuild" />
    <Social platform="github" username="withastro" />
    <Social platform="youtube" username="astrodotbuild" />
    <p>© 2025 My Astro Site. All rights reserved.</p>
</footer>
